/* powermenu.rasi */
@import "catppuccin-mocha" 

configuration {
    show-icons: false;
}

window {
    padding: 5px 10px;
    width: 20%;
    height: 20%;
}

listview {
    lines: 4;
}

element {
    margin: 5px 0;
    padding: 5px 5px;
}

element.selected {
}

